body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  padding: 0.5rem 0;
}

main {
  min-height: 80vh;
}

.rating span {
  margin: 0.08rem;
}
